#properties {
    height: 500px;
}
#container-panel {
    height: 500px;
}
#wireframe {
    height: 500px;
}
#container-button, #label-button, #button-actual, #textfield-button {
    width: 50px;
    height: 50px;
}